# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [51]:
import pandas as pd
import numpy as np

# Seu código aqui
dados_temperaturas = [[1900, -0.08], [1920, -0.27], [1940, 0.12], [1960, -0.03], [1980, 0.26], [2000, 0.40], [2020, 1.02]]

classes = ['1900', '1920', '1940', '1960', '1980', '2000', '2020']

dados_temperaturas = pd.DataFrame(dados_temperaturas, columns=['Ano', 'Anomalia Térmica'], index=classes)
classes = pd.Series(classes)
dados_temperaturas

       Ano  Anomalia Térmica
1900  1900             -0.08
1920  1920             -0.27
1940  1940              0.12
1960  1960             -0.03
1980  1980              0.26
2000  2000              0.40
2020  2020              1.02

#### 2) Coloque os anos nos índices conforme a tabela.

In [52]:
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
index=['Ano', 'Ano', 'Ano', 'Ano', 'Ano', 'Ano', 'Ano']
# seu código aqui
anos = pd.Series(anos, index=index)
anos

Ano    1900
Ano    1920
Ano    1940
Ano    1960
Ano    1980
Ano    2000
Ano    2020
dtype: int64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [53]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturas = pd.Series(dic_temperaturas)
dic_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [54]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr = pd.DataFrame(arr)
arr

             0           1           2
0    88.323800  107.224022  104.081424
1    99.026288  109.418333  103.748841
2    93.510991  116.858285  105.108552
3    94.276014   95.718447   81.756502
4    93.813244  105.039303  102.793586
5   104.517796  110.537796   94.376341
6   104.697985   83.219623   85.510963
7   103.630296  100.014663   93.361606
8   111.246886  116.616810  108.999154
9    95.358560   83.966047  124.862001
10   77.783436   90.689444   94.254115
11  104.324825   89.037866  108.964589
12  105.025495  118.257395   98.149135
13   92.097230  110.046282   90.274186
14  101.409721  108.939563   88.222997
15   98.455403   92.284618   84.469910
16   92.915518  103.689105   92.799803
17  121.854218   99.660647   84.487118
18  113.171208  105.033592  119.918473
19  104.340210  100.965200  109.863406

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [55]:
#seu código aqui
arr = np.random.normal(100, 10, (20,3))
arr = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])
arr

            x1          x2          x3
1   108.331134   82.984436   94.128833
2   100.644597   87.662100   95.411491
3    83.654706  104.373881   99.944796
4    88.730354   97.386722   85.663480
5    99.668709  108.227383   84.135592
6    99.375096   90.727930   84.679716
7   100.211491  117.534289   80.934472
8   112.459352   97.956240  104.594810
9   104.545192  102.790837  101.713309
10   73.684741  111.666064  100.575285
11  101.458739   96.276999   85.123015
12  111.191003  112.306910   93.147487
13  102.583470  110.030919  100.250788
14  109.943003  102.896274  121.198102
15  103.429473   97.244651  102.939837
16   93.685630   84.165259  104.819142
17  110.768990   98.199315  114.571739
18  109.141340   91.510603  105.887863
19  101.557986  105.203249  102.912322
20   93.574305   96.807489  109.565664

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [56]:
# seu código aqui
arr['media'] = (arr['x1'] + arr['x2'] + arr['x3']) / 3
arr

            x1          x2          x3       media
1   108.331134   82.984436   94.128833   95.148134
2   100.644597   87.662100   95.411491   94.572729
3    83.654706  104.373881   99.944796   95.991128
4    88.730354   97.386722   85.663480   90.593519
5    99.668709  108.227383   84.135592   97.343895
6    99.375096   90.727930   84.679716   91.594247
7   100.211491  117.534289   80.934472   99.560084
8   112.459352   97.956240  104.594810  105.003467
9   104.545192  102.790837  101.713309  103.016446
10   73.684741  111.666064  100.575285   95.308697
11  101.458739   96.276999   85.123015   94.286251
12  111.191003  112.306910   93.147487  105.548467
13  102.583470  110.030919  100.250788  104.288392
14  109.943003  102.896274  121.198102  111.345793
15  103.429473   97.244651  102.939837  101.204654
16   93.685630   84.165259  104.819142   94.223343
17  110.768990   98.199315  114.571739  107.846682
18  109.141340   91.510603  105.887863  102.179935
19  101.557986  105.203249  102.912322  103.224519
20   93.574305   96.807489  109.565664   99.982486

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [58]:
# seu código aqui
arr['log_med'] = np.log(arr['media'])
arr

            x1          x2          x3       media   log_med
1   108.331134   82.984436   94.128833   95.148134  4.555435
2   100.644597   87.662100   95.411491   94.572729  4.549369
3    83.654706  104.373881   99.944796   95.991128  4.564256
4    88.730354   97.386722   85.663480   90.593519  4.506383
5    99.668709  108.227383   84.135592   97.343895  4.578250
6    99.375096   90.727930   84.679716   91.594247  4.517368
7   100.211491  117.534289   80.934472   99.560084  4.600761
8   112.459352   97.956240  104.594810  105.003467  4.653993
9   104.545192  102.790837  101.713309  103.016446  4.634889
10   73.684741  111.666064  100.575285   95.308697  4.557121
11  101.458739   96.276999   85.123015   94.286251  4.546335
12  111.191003  112.306910   93.147487  105.548467  4.659170
13  102.583470  110.030919  100.250788  104.288392  4.647160
14  109.943003  102.896274  121.198102  111.345793  4.712641
15  103.429473   97.244651  102.939837  101.204654  4.617145
16   93.685630   84.165259  104.819142   94.223343  4.545668
17  110.768990   98.199315  114.571739  107.846682  4.680711
18  109.141340   91.510603  105.887863  102.179935  4.626735
19  101.557986  105.203249  102.912322  103.224519  4.636906
20   93.574305   96.807489  109.565664   99.982486  4.604995